/***************** BOTONES PARA CONTROLES****************/
/* Container para colocar botones en horizontal*/
.btn__actions {
    width: 100%;
}

/* Container para colocar botones en horizontal*/

#btn-like {
    color: #f13030;
    cursor: pointer;
}

/* Estilos de boton de alquiler*/
.btn-account {
    box-shadow: 0 1px 0 #e62d2d,
        0 2px 0 #d82a2a,
        0 3px 0 #cc2727,
        0 4px 0 #c02424,
        0 5px 0 #b32121,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    background: #f13030;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 0px;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: 150px;
    position: relative;
}

/* Estilos de boton de alquiler*/

/* Estilos de boton de alquiler, incluir icono*/
.btn-account::after {
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

/* Estilos de boton de alquiler, incluir icono*/

/* Estilos de boton de alquiler, transicion*/
.btn-account:hover {
    background: #2c2c2c;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 1px 0 #2b2b2b,
        0 2px 0 #272727,
        0 3px 0 #202020,
        0 4px 0 #181818,
        0 5px 0 #0f0f0f,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    color: #ffffff;
}

.btn-account:hover.btn-account::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}

/* Estilos de boton de alquiler, transicion*/

/* Estilos de boton de alquiler*/
.btn-rent {
    box-shadow: 0 1px 0 #e62d2d,
        0 2px 0 #d82a2a,
        0 3px 0 #cc2727,
        0 4px 0 #c02424,
        0 5px 0 #b32121,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    background: #f13030;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0px;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 150px;
}

/* Estilos de boton de alquiler*/

/* Estilos de boton de alquiler, incluir icono*/
.btn-rent::after {
    content: "Alquilar";
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    left: 70%;
    top: 49%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

/* Estilos de boton de alquiler, incluir icono*/

/* Estilos de boton de alquiler, transicion*/
.btn-rent:hover {
    background: #2c2c2c;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 1px 0 #2b2b2b,
        0 2px 0 #272727,
        0 3px 0 #202020,
        0 4px 0 #181818,
        0 5px 0 #0f0f0f,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    padding: 0.5rem 4.5rem 0.5rem 0.5rem;
    color: #ffffff;
}

.btn-rent:hover.btn-rent::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}

/* Estilos de boton de alquiler, transicion*/

/* Estilos de boton de compra*/
.btn-buy {
    box-shadow: 0 1px 0 #72beab,
        0 2px 0 #6cb4a2,
        0 3px 0 #64a897,
        0 4px 0 #5d9c8c,
        0 5px 0 #569182,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    background: #84dcc6;
    color: #1d1d1d;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 10px;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 150px;
}

/* Estilos de boton de compra*/

/* Estilos de boton de compra, incluir icono*/
.btn-buy::after {
    content: "Comprar";
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    left: 70%;
    top: 49%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

/* Estilos de boton de compra, incluir icono*/

/* Estilos de boton de compra, transicion*/
.btn-buy:hover {
    background: #2c2c2c;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0 1px 0 #2b2b2b,
        0 2px 0 #272727,
        0 3px 0 #202020,
        0 4px 0 #181818,
        0 5px 0 #0f0f0f,
        0 6px 1px rgba(0, 0, 0, .1),
        0 0 5px rgba(0, 0, 0, .1),
        0 1px 3px rgba(0, 0, 0, .3),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .25),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .15);
    padding: 0.5rem 4.5rem 0.5rem 0.5rem;
    color: #ffffff;
}

.btn-buy:hover.btn-buy::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}

/* Estilos de boton de compra, transicion*/

@media all and (max-width: 768px) {

    /* Cambiar disposicion de botones en dispositivos moviles*/
    .btn__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    /* Cambiar margin al boton de compra*/
    .btn-buy {
        margin: 5px;
    }

    /* Cambiar margin al boton de alquiler*/
    .btn-rent {
        margin: 5px;
    }

    /* Cambiar margin al boton de cuenta*/
    .btn-account {
        margin: 10px 0px;
    }
}