/* Import de la famila de fuentes que se utilizara >> Montserrat*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

/* Limpiar estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
/* Limpiar estilos generales */

/* Limpiar estilos del body*/
body {
    padding: 0;
    margin: 0;
}
/* Limpiar estilos del body*/

/* Estilos de navbar principal */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #151515;
    padding: 5px 40px;
    box-shadow: 0px 0px 51px -16px rgba(0,0,0,0.8);
}
/* Estilos de navbar principal */

/* Estilos de lista */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* Estilos de lista */

/* Estilos de item para lista*/
nav ul li {
    padding: 15px 0;
    cursor: pointer;
}
/* Estilos de item para lista*/

/* Estilos de la clase item*/
nav ul li.items {
    position: relative;
    width: auto;
    margin: 0 16px;
    font-weight: 500;
    text-align: center;
    order: 3;
}
/* Estilos de la clase item*/

/* Estilos para simular borde interior de la clase item*/
nav ul li.items:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background:crimson;
    opacity: 0;
    transition: all 0.1s ease-in;
}
/* Estilos para simular borde interior de la clase item*/

/* Estilos de hover para simular borde interior de la clase item*/
nav ul li.items:hover:after {
    opacity: 1;
    bottom: 8px;
}
/* Estilos de hover para simular borde interior de la clase item*/

/* Estilos del logo o titulo*/
nav ul li.logo {
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 900;
    cursor: default;
    user-select: none;
}
/* Estilos del logo o titulo*/

/* Estilos del logo o titulo*/
nav ul li.logo span {
    color: crimson;
    font-weight: 500;
}
/* Estilos del logo o titulo*/ 

/* Estilos de los enlaces*/
nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: .4s;
}
/* Estilos de los enlaces*/

/* Estilos de hover de los enlaces*/
nav ul li:hover a {
    color: crimson;
}
/* Estilos de hover de los enlaces*/

/* Estilos de icono burger*/
nav ul li i {
    font-size: 23px;
}
/* Estilos de icono burger*/

/* Ocultar en modo escritorio el icono burger*/
nav ul li.btn {
    display: none;
}
/* Ocultar en modo escritorio el icono burger*/

/* Codigo para obtener icono burger*/
nav ul li.btn.hide i:before {
    content: '\f00d';
}
/* Codigo para obtener icono burger*/


/* Estilos predeterminados del main*/
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 68px;
    padding: 15px 35px;
    background-color: #1f1f1f;
    width: 100%;
    height: 90vh;
}
/* Estilos predeterminados del main*/

/* Contenedor de texto*/
.container {
    border-radius: 5px;
    padding: 25px 0px;
    background-color: #2b2b2b;
    color: aliceblue;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 5px crimson,
                0 0 10px #f0204a;
}
/* Contenedor de texto*/

/* Titulo del contenedor*/
.container h1 {
    color: crimson;
    text-shadow: black;
    font-size: 54px;
    margin-bottom: 10px;
}
/* Titulo del contenedor*/

/* Subtitulo del contenedor*/
.container h2 {
    font-size: 36px;
    margin: 10px 0px;
}
/* Subtitulo del contenedor*/

/* Subtitulo del contenedor*/
.container h3 {
    font-size: 28px;
    margin: 10px 0px;
}
/* Subtitulo del contenedor*/

/* Parrafo del contenedor*/
.container p {
    font-size: 24px;
}
/* Parrafo del contenedor*/

/* Estilos de formulario*/
.form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
/* Estilos de formulario*/

/* Estilos por grupo de formulario*/
.form__group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Estilos por grupo de formulario*/

/* Estilos de combo*/
.form select {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 8px;
    padding: 10px 5px;
    text-align: center;
    background-color: #e6e6e6;
    font-weight: 600;
    color: #292929;
    outline: none;
    box-shadow: 0 0 5px #e6e6e6,
                0 0 10px #ffffff;
}
/* Estilos de combo*/

/* Estilos de opcion de combo*/
.form select option {
    background-color: #303030;
    color: aliceblue;
}
/* Estilos de opcion de combo*/

/* Base del form para el scroll*/
.form__base {
    margin: 15px 0px;
    overflow: scroll;
    width: 100%;
    height: 40vh;
}
/* Base del form para el scroll*/

/* Estilos para scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: crimson;
    box-shadow: inset 0 0 6px crimson;
}
/* Estilos para scrollbar*/

/* Estilos de la tabla*/
.form__table {
    width: auto;
    border-radius: 10px;
    border-collapse: collapse;
}
/* Estilos de la tabla*/

/* Estilos de linea para tabla*/
.form__table td {
    text-align: left;
    width: 180px;
    padding: 10px;
}
/* Estilos de linea para tabla*/

/* Estilos de linea de titulo para tabla*/
.form__table th {
    padding: 15px;
}
/* Estilos de linea de titulo para tabla*/

/* Estilos de celdas*/
.form__table tr {
    background-color: #414141;
}
/* Estilos de celdas*/
  
/* Estilos intercalados para celdas*/
.form__table tr:nth-child(even) {
    background-color: #96969669;
}
/* Estilos intercalados para celdas*/

/* Estilos de botones*/
button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: crimson;
    color: aliceblue;
    border: none;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
/* Estilos de botones*/

/* Estilos de hover para botones*/
button:hover {
    padding: 5px 30px;
    background-color: #fd2b55;
    box-shadow: 0 0 5px crimson,
                0 0 10px #f0204a;
}
/* Estilos de hover para botones*/

/* Estilos de etiquet para botones*/
button a {
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
    color: aliceblue;
}
/* Estilos de etiquet para botones*/


/* Estilos del footer*/
footer {
    color: aliceblue;
    background-color: #292929;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Estilos del footer*/


/* MEDIA QUERY PARA DISPOSITIVOS MOVILES*/
@media all and (max-width: 768px) {
    /* Configuracion de padding del navbar para moviles*/
    nav {
        padding: 5px 30px;
    }
    /* Configuracion de padding del navbar para moviles*/

    /* Configuracion de items, ocultandose para moviles*/
    nav ul li.items {
        width: 100%;
        display: none;
    }
    /* Configuracion de items, ocultandose para moviles*/

    /* Mostrara los items en el nav para moviles*/
    nav ul li.items.show {
        display: block;
    }
    /* Mostrara los items en el nav para moviles*/

    /* Mostrara el icono burger para moviles*/
    nav ul li.btn {
        display: block;
    }
    /* Mostrara el icono burger para moviles*/

    /* Estilo hover de listado para modo movil*/
    nav ul li.items:hover {
        border-radius: 5px;
        background-color: #2c2c2c;
    }
    /* Estilo hover de listado para modo movil*/

    /* Estilo linea de hover de listado para modo movil*/
    nav ul li.items:hover:after {
        opacity: 0;
    }
    /* Estilo linea de hover de listado para modo movil*/

    /* Contenedor de texto*/
    .container {
        padding: 25px;
        height: auto;
    }
    /* Contenedor de texto*/

    /* Titulo del contenedor*/
    .container h1 {
        font-size: 48px;
    }
    /* Titulo del contenedor*/

    /* Parrafo del contenedor*/
    .container p {
        font-size: 18px;
    }
    /* Parrafo del contenedor*/

    /* Subtitulo del contenedor*/
    .container h3 {
        font-size: 22px;
    }
    /* Subtitulo del contenedor*/

    /* Base del form para el scroll*/
    .form__base {
        height: 30vh;
    }
    /* Base del form para el scroll*/

    /* Estilos por grupo de formulario*/
    .form__group {
        flex-direction: column;
    }
    /* Estilos por grupo de formulario*/
}
/* MEDIA QUERY PARA DISPOSITIVOS MOVILES*/